<h2>URL Shortener</h2>
<% if (userID) { %>
    <div style="display: inline-block">
        Logged in as <p style="font-weight: bold; display: inline-block"> <%= email %></p>
        <form style="display: inline-block; padding: 5px" action="/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
    </div>
<% } else {%>
    <form style="display: inline-block;" action="/login" method="GET">
        <input type="submit" value="Login">
    </form>
    <form style="display: inline-block;" action="/register" method="GET">
        <input type="submit" value="Sign Up">
    </form>
<% } %>
