<h2>URL Shortener</h1>
<% if (userID) { %>
    <div style="display: inline-block">
        Logged in as <%= userID.id %>
        <form style="display: inline-block" action="/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
    </div>
<% } else {%>
    <form style="display: inline-block;" action="/login" method="GET">
        <input type="submit" value="Login">
    </form>
    <form style="display: inline-block;" action="/register" method="GET">
        <input type="submit" value="Sign Up">
    </form>
<% } %>
