<!-- takes in new URLs http://localhost:8010/urls/new -->
<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../partials/_header %>
  </head>
  <body style="font-size:20px;">
    <form action="/urls" method="POST" style="padding-top: 30px">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Shorten URL">
    </form>
  </body>
</html>