<!-- individual links -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/_header %>
</head>
<body> <%= longURL %>: --> <%= shortURL %> (<a href='<%= longURL %>'>Link</a>)
</body>
</html>
